<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an Administrator Account</title>
</head>
<body>
    <div th:fragment="content">
        <h2>Create an Administrator Account</h2>
        <br>
        <form action="/admin/createAdmin" method="get" class="forms-sample">
            <div class="form-group">
                <label >Name</label>
                <input name="fName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label >Last Name</label>
                <input name="sName" type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label >Enter Email Address for Admin</label>
                <input name="email" id="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label >Address line 1 </label>
                <input name="address1" type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label >Address line 2 </label>
                <input name="address2" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label >City </label>
                <input  name="city" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label >Postcode</label>
                <input name="postCode" type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label >Phone Number </label>
                <input name="phoneNumber" type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label >Emergency Number</label>
                <input name="emergencyNumber" type="text" class="form-control">
            </div>
            <p class="card-description">MHA Tenant</p>
            <div class="form-group">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="tenant" type="radio" class="form-check-input" value="yes"> Yes
                    </label>
                </div>
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="tenant" type="radio" class="form-check-input" value="no"> No
                    </label>
                </div>
            </div>
            <p class="card-description">Have you previously volunteered for MHA or any other organisation?</p>

            <div class="form-group">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="volunteered" type="radio" class="form-check-input"  value="yes"> Yes
                    </label>
                </div>
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="volunteered" type="radio" class="form-check-input"  value="no"> No
                    </label>
                </div>
                <div class="form-group">
                    <label>if Yes, who have you volunteered for and what was your role?</label>
                    <input name="volunteeredRole" type="text" class="form-control">
                </div>
            </div>
            <p class="card-description">Do you have any disabilities or support needs you may require help with to enable you to fully participate in this scheme? </p>
            <div class="form-group">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="disabilities" type="radio" class="form-check-input"  value="yes"> Yes
                    </label>
                </div>
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="disabilities" type="radio" class="form-check-input"  value="no"> No
                    </label>
                </div>
                <div class="form-group">
                    <label >if Yes, please provide details </label>
                    <input name="disabilityDetails" type="text" class="form-control">
                </div>
            </div>
            <p class="card-description">Do you have any medical conditions or take any medications you feel MHA would need to be aware if you became unwell whilst volunteering? </p>
            <div class="form-group">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="medications" type="radio" class="form-check-input"  value="yes" > Yes
                    </label>
                </div>
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="medications" type="radio" class="form-check-input"  value="no"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>if Yes, please provide details </label>
                <input name="medicationDetails" type="text" class="form-control">
            </div>
            <p class="card-description">Do you have any known allergies?</p>
            <div class="form-group">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="allergies" type="radio" class="form-check-input"  value="Yes"> Yes
                    </label>
                </div>
                <div class="form-radio">
                    <label class="form-check-label">
                        <input name="allergies" type="radio" class="form-check-input"  value="no"> No
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>if Yes, please provide details </label>
                <input name="allergyDetails" type="text" class="form-control">
            </div>

            <input type="submit" id="submit" value="Create Admin" class="btn btn-success mr-2"/>
        </form>
    </div>
</body>
</html>