<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MHA Volunteering</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/posts.js"></script>
    <script src="/js/js-url-2.5.0/url.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>admin registration</title>
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body>
    <div th:fragment="content">
        <h4 class="card-title">Register a new business</h4>
        <form action="/admin/business/create" method="get" class="forms-sample">
            <div class="form-group">
                <label >Business Name</label>
                <input type="text" name="name" id="name" value="Enter Reward Name" class="form-control">
            </div>
            <div class="form-group">
                <label >Business Email</label>
                <input type="text" name="email" id="email." value="Enter Email"  class="form-control">
            </div>

            <input type="submit" class="btn btn-success mr-2" name="Create Reward" id="submit">
        </form>
    </div>
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/off-canvas.js"></script>
<script src="/js/misc.js"></script>
</body>
</html>