<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Businesses</title>
</head>
<body>
<div th:fragment="content">
    <h3>Businesses</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${businesses}">
                <td th:text="${c.Bname}"></td>
                <td th:text="${c.BusinessEmail}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>