<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Time Banking Statement</title>
</head>
<body>
    <div>
        <h2>Time Banking Statement</h2>
        <a href="/downloadFile/IntroductionSLAandConfidentiality.docx">Download the Statement here</a>
    </div>
    <div>
        <h3>Welcome to MHA’s Time Exchange</h3>
        <p>Thank you for choosing to volunteer with The Time Exchange.</p>
        <p>We hope you find your time with us inspiring and thought provoking.
            While you will be giving your time and effort we will be looking to
            invest our time so you can get the most out of volunteering, develop
            skills and confidence and take part in activities that interest you.
        </p>
        <br>
        <h3>Background: Key Points</h3>
        <p>Welcoming Diversity: MHA values diversity; involving people from
            differing backgrounds, outlooks and cultures will help to make
            our organisation more welcoming to the public, more dynamic and
            open to new ideas.</p>
        <br>
        <p>DBS Check: MHA will in some cases need to complete a Disclosing
            and Barring Service (DBS) check. If you have any concerns about
            this please speak to us about your concerns.</p>
        <br>
        <p>Expenses: If you incur any authorised expenses (such as travel to
            work) as a result of your volunteering you will be repaid.</p>
        <br>
        <p>Support and Supervision: As a volunteer you will have a named
            individual within MHA who should be the first person to speak to
            if there’s a problem.
            The person you can go to is: ...</p>
        <br>
        <p>Confidentiality: A Confidentiality Agreement form will be given to you and
            you will be expected to adhere to this at all times</p>
        <br>
        <p>Training: MHA will offer free training to all its volunteers, within the scope of
            its own training programme, as determined by members and staff.</p>
        <br>
        <br>
        <h3>Service Level Agreement: Rights and Responsibilities:</h3>
        <p>We recognise that as a volunteer you have given up your time and made a significant
            commitment to undertake volunteering work.</p>
        <p>To ensure this is a positive experience we want to be clear about what you as a Time
            Exchange volunteer can expect from us, and what we would expect from you. To
            this end, we have highlighted some basic rights and responsibilities.</p>
        <p>During the course of your volunteering with us if you feel that we have not kept
            to the rights and responsibilities listed please raise this with us or the Human
            Resources (HR) Department. Likewise, should The Time Exchange feel that you have
            not kept to these rights and responsibilities this will be discussed with you.</p>
        <h3>As a valued volunteer, we believe you have the right to:</h3>
        <ul>
            <li>Know what is expected of you and what is not expected</li>
            <li>Have clear lines of support and supervision</li>
            <li>Be shown appreciation through the achievement of Time Exchange credits</li>
            <li>A safe work environment</li>
            <li>Be covered by our Public Liability Insurance</li>
            <li>Know what your rights and responsibilities are if things go wrong</li>
            <li>Be paid expenses</li>
            <li>Be trained</li>
            <li>Be free from discrimination</li>
            <li>The opportunity for personal development</li>
            <li>Clear information of how to gain credit and how to use them</li>
            <li>Be reliable</li>
            <li>Be honest</li>
            <li>Be dressed appropriately</li>
            <li>Respect confidentiality</li>
            <li>Make the most of training and development opportunities</li>
            <li>Carry out tasks in an open, fair, flexible and achieving manner</li>
            <li>Work within the agreed guidelines</li>
            <li>Complement the paid workers, not replace them</li>
            <li>Contribute to the ongoing evaluation of the Time Exchange pilot</li>
        </ul>
        <br>
        <h3>Should you wish to seek clarity on any of the above please speak to us!</h3>
        <br>
        <br>
        <h2>Confidentiality Statement</h2>
        <ul>
            <li>Our work involves confidential information about our customers and MHA’s
                business and we must respect that confidentiality. We must be observant
                of the Data Protection Act in all aspects of our roles.</li>
            <li>Volunteers must treat as confidential: information concerning people -
                residents, staff etc; those matters of MHA’s business which are defined
                as confidential; matters of funders’ or referral agents’ business.</li>
            <li>We must not discuss any confidential matters with any person outside MHA
                unless this is required by law or as a disclosure to a regulatory body or
                with the consent of the MHA’s Chief Executive and/or Chairman of the Board.</li>
            <li>In order to ensure a co-ordinated approach to external relations, requests
                for information from the media should be dealt with only by a Director or
                an employee authorised by a Director.</li>
            <li>Where it is essential that personal information is released, it must be with
                the express consent of the individual concerned, except in meeting overriding
                legal requirements. The Chairman of the Board and one other Board Member must
                be consulted and agree.</li>
            <li>Staff should ensure that information defined as personally identifiable under
                the terms of the Data Protection Act 1998 is protected, especially if being
                accessed in public areas, to minimize the risk of inadvertent disclosure.</li>
            <li>MHA will provide a workable IT security control framework to ensure that
                confidentiality, integrity, suitability and availability of data and systems
                prescribed by the following definitions are maintained at all times:</li>
            <li>Confidentiality – Access to data must be controlled at appropriate
                levels so that only those with specific responsibilities and needs can
                create, amend, view or delete data.</li>
            <li>Integrity – All MHA’s systems must operate to specification, be properly
                understood and operated by all authorized users, and hold data that is accurate.</li>
            <li>Suitability – All systems currently used and intended to be used shall be assessed
                for their suitability to perform the task required in the manner and timeframes
                required.</li>
            <li>Availability – All data must be delivered to the user where it is required, when it
                is required and in the manner in which it is required.</li>
        </ul>
    </div>
</body>
</html>